<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elasticsearch Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body onload="initialize()">
    <div id="content" class="content">
        <h1 id="website-title">The Elder Scrolls: Character Search</h1>
<!--        <label for="query">Запрос:</label> <br>-->
        <input type="text" id="query" name="query" required> <br>
        <button onclick="search()">Искать</button>
        <h2>Результаты:</h2>
        <div id="results"></div>
    </div>
</body>
</html>
